<div class="login">
    <div>
        
        <div class="title-input">
            <div class="text-input" >User ID:</div>
            <div><input type="text" id="name" placeholder="userid" ng-model="id" required=""></div>
            <div>{{id}}</div>
            <div>{{count}}</div>
        </div>
        <div class="title-input">
            <div class="text-input">Password:</div>
            <div><input type="password" id="password" ng-model="password" placeholder="userpassword" required=""></div>
        </div>
        <button ng-click="loginFnc()">login</button>
        
    </div>

</div>