
<div class="mainpage">

    <div class="navbar">
        <ul>
            <li>
                <a href="#!mainpage">Trang chủ</a>
            </li>
            <li>
                <a href="#!editpage" id="editPage">Chỉnh sửa thông tin Internship</a>
            </li>
            <li>
                <a href="#!loginpage">log out</a>
            </li>
        </ul>
    </div>
    <div class="content">
            
            <h2>Welcome Intern {{internName}}</h2>
            <div class="date-end">Số ngày còn lại hết thực tập là: <strong> {{dateEnd}} </strong></div>     
    </div>
</div>
